.heading{
    font-size: 18px;
    color: white;
    margin: 0;
    width: 100%;
    box-shadow: 5px 5px 5px grey;
}

.note{
    font-size: 14px;
    color: black;
}

.copy_right_footer{
    position: fixed;
    background-color:#ADD8E6;
    bottom:  0;
    width: 100%;
    text-align: center;
    line-height: 3;
    font-weight: bold;

}

canvas , video{
    border-radius: 10px;
    border : 10px solid rgba(255, 255, 47, 0.678);
    box-shadow: 5px 5px 5px grey;
 margin-top: 25px;
    margin-left: 60px;
}